.my-global-layout {
  /* global styles here if I nead */
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to top right, #cdf3f7, #ffffff);
}

.user-controls {
  position: fixed;
  top: 20px;
  right: 20px;
}

.btn-custom {
  background-color: white;
  color: #088e99;
  border: 2px solid #088e99;
  transition: background-color 0.3s ease;
}

.btn-custom:hover,
.btn-custom.active:hover {
  background-color: #088e99;
  border-color: #088e99;
  color: white;
}

.btn-custom.active {
  background-color: white;
  border-color: #088e99;
  color: #088e99;
}

.btn-x {
  background-color: #088e99;
  border-color: #088e99;
  color: white;
}

.btn-x:hover {
  background-color: #067582;
  border-color: #067582;
  color: white;
}

.rating-star {
  color: #f08f1f;
}

.card-img-top {
  transition: transform 0.5s;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.overflow-hidden {
  overflow: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #088e99;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  cursor: pointer;
  margin-right: 16px;
  transition: background-color 0.3s ease;
}

.icon-container:hover {
  background-color: #067582; /* Cette couleur est utilisée pour le bouton hover */
}

.badge-alimentation {
  background-color: #088e99;
  color: white;
}

.badge-pharmacie {
  background-color: #088e99;
  color: white;
}

.badge-restaurant {
  background-color: #088e99;
  color: white;
}

.badge-décoration {
  background-color: #088e99;
  color: white;
}

.badge-monument {
  background-color: #088e99;
  color: white;
}

.badge-boulangerie {
  background-color: #088e99;
  color: white;
}

.badge-poste {
  background-color: #088e99;
  color: white;
}

.nav-link {
  font-family: 'Inter', sans-serif;
  color: black !important;
}

.nav-link:hover {
  color: #088e99 !important;
}

.black-text {
  color: black;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in-image {
  animation: fadeIn 1s ease-out forwards;
}

.copyright {
  font-family: 'Inter', sans-serif;
  color: black;
  padding: .5rem 1rem;
}

.Toastify__toast {
  padding: 10px !important;
  min-height: 50px !important;
  font-size: 1.5em !important;
  color: white !important;
  background-color: #088e99 !important;
}

.mentions-title {
color: #088e99;
margin-bottom: 4rem;
}

h2 {
margin-top: 1.5rem;
margin-bottom: 1rem;
}

.email {
  font-family: 'Inter', sans-serif;
  color: black !important;
}

.email:hover {
  color: #088e99 !important;
}

/* Mobile first < 768px */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-container {
  text-align: center;
  flex: 1;
  order: 1;
  margin-bottom: 30px;
}

.btn-container {
  display: flex;
  align-items: center; /* Pour centrer verticalement */
  justify-content: center; /* Pour centrer horizontalement */
  flex-wrap: wrap;
}

/* Pour les écrans jusqu'à 768px */
@media (max-width: 768px) {
  .logo-container img {
    width: 300px;
    height: 300px;
  }
}

/* Desktop > 768px */
@media (min-width: 768px) {
  .logo-container {
    flex-grow: 1;
  }

  .btn-container {
    position: absolute;
    top: 20px;
    right: 30px;
    justify-content: flex-end; /* Pour pousser les éléments à la droite */
    margin-top: 0;
  }

  .logo-container {
    margin-bottom: 0; /* Réinitialisation de la marge pour les écrans plus larges */
  }
}